---
title: Home
layout: layouts/home.njk
---

<div class="wrapper">
  <div class="info">
    <h1>Hello! My name is Yakov Danilichev.</h1>
    <p>
      I'm a human living on Earth, but with a mind and big ambitions; otherwise, I get bored.
    </p>
    <p>
      My interests mostly lie in computer science and mathematics. Currently, I'm an undergrad
      at Moscow Institute of Physics and Technology (Applied Mathematics and Informatics).
      <b>My technical skills: C++, Python, competitive programming, a little bit of web development,
      math.</b>
    </p>
    <p>
      Aside from programming and all that stuff, I really love classical music. I run a Telegram channel
      <a class="text-link" href="https://t.me/musicalrevelation" target="_blank">Musical Revelation</a>
      where I write about the beauty of classical compositions that I stumble upon. By the way, I play
      the piano professionally. I'm also keen on playing and watching football and basketball.
    </p>
    <p>
      Contact or follow me on
      <a class="text-link" href="https://vk.com/omgthatsjackie" target="_blank">VK</a>,
      <a class="text-link" href="https://t.me/omgthatsjackie" target="_blank">Telegram</a>,
      <a class="text-link" href="https://github.com/omgthatsjackie" target="_blank">GitHub</a>,
      <a class="text-link" href="https://codeforces.com/profile/omgthatsjackie" target="_blank">CodeForces</a>.
    </p>
  </div>
  <img class="avatar" src="images/me.jpg" alt="My picture">
</div>
